<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="form-select my-3" (change)="onSortSelected(getValue($event))">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>

            </select>
            <h5 class="text-black my-3">Brands</h5>
            <ul class="list-group">

                <li class="list-group-item" *ngFor="let brand of brands"
                    [class.active]="brand.id === this.shopParams.brandId" [value]="brand.id"
                    (click)="onBrandSelected(brand.id)">{{brand.name}}</li>

            </ul>
            <h5 class="text-Dark my-3">Types</h5>
            <ul class="list-group">

                <li class="list-group-item" *ngFor="let productType of productTypes"
                    [class.active]="productType.id === this.shopParams.typeId" [value]="productType.id"
                    (click)="onTypeSelected(productType.id)">{{productType.name}}</li>

            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header
                [totalCount] = "this.shopParams.totalCount"
                    [pageSize] = "this.shopParams.pageSize"
                    [pageNumber] = "this.shopParams.pageNumber">
                </app-paging-header>
                <div class="row justify-content-center form-inline mt-2">
                    <input (keyup.enter)="onSearch()" class="form-control" style="width: 250px" #search placeholder="Search" type="
            text" />
                    <button (click)="onSearch()" class="btn btn-outline-primary col-auto" style="margin-left: 2px;">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-warning col-auto" style="margin-left: 2px;">Reset</button>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 " style="margin-bottom: 15px;">
                <div class="col-3" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <div *ngIf="this.shopParams.totalCount && this.shopParams.totalCount > 0"  
                class="d-flex justify-content-center">
                <app-pager
                [totalCount] = "this.shopParams.totalCount"
                    [pageSize] = "this.shopParams.pageSize"
                    [pageNumber] = "this.shopParams.pageNumber"
                    (pageChanged)="onPageChanged($event)"
                ></app-pager>
        </div>
        </section>
    </div>
</div>

<!-- <ul>
    <li class="list-unstyled" *ngFor="let product of products">
        {{product.name}}
    </li>
</ul> -->